@import "../../vars.css";

.container {
    position: relative;
    background: var(--color-secondary);
    background: linear-gradient(200deg, rgba(31, 41, 55, 0) 0%, var(--color-secondary) 50%, rgba(31, 41, 55, 0) 100%);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

/* .aboutItem:hover {
    background-size: 100% 100%;
} */

.aboutItemText {
    line-height: 1.5;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.66);
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 25px;
        padding-right: 25px;
    }

    .content {
        flex-direction: column;
    }

    .title {
        font-size: 22px;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 10px;
    }

    .aboutItem {
        padding-left: 0.1;
        padding-right: 0.1;
    }

    .aboutItem p {
        font-size: 15px;
    }
}